<%= @patient.name %> Has <%= @appointment.count %> appointments today

<ul>
<% @patient.appointments.each do |appointment| %>
<li> Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %> Date: <%= appointment.appointment_datetime%> </li>

<% end %>
</ul>
